.element {
	border-top:2px solid white;
}

.element.hey > .element {
	border-top-color:red;
}

.element .element.hey > .element input.error {
	border-top-color:red;
}

.element div {
	border-top-color:red;
}

.my-div {
	background-image:"hey";
}

